@font-face {
    font-family: 'DemonSker';
    src: url('../font/DemonSker.ttf') format('truetype');
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow: hidden;
    font-family: 'DemonSker';
}
